<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated gemRBAC -->
      <package uri="http://www.example.org/gemRBAC" class="gemRBAC.GemRBACPackage" genModel="model/gemRBAC.genmodel"></package>
   </extension>

</plugin>